/* This file is linked from index.html, and should include any CSS
   overrides that you want to apply to your selected reveal.js
   "white" theme.
*/
body {

    &:after {
	content: '@xahteiwi';
	opacity: 0.5;
	font-size: 200%;
	font-family: "Source Sans Pro", sans-serif;
	position: fixed;
	bottom: 2em;
	right: 2em;
    }

}

.reveal {
    h3, h4, h5, h6 {
	text-transform: none;
    }

    .fragment {
	opacity: 0.3 !important;
    }

    .current-fragment {
	opacity: 1 !important;
    }

    .hidden {
	display: none;
    }

    .overview {
	.hidden {
	    display: inherit;
	}
    }

    td, th {
	font-size: 200%;
    }

    img, iframe {
	border: none !important;
    }

    .inline {
	display: inline !important;
    }

    img.inline {
	box-shadow: none !important;
	height: 1em;
	width: auto;
	margin: 0 !important;
    }
    
}
