/* This file is linked from index.html, and should include any CSS
   overrides that you want to apply to your selected reveal.js
   "white" theme.
*/
body {

    &:after {
	content: '@xahteiwi';
	opacity: 0.5;
	font-size: 200%;
	font-family: "Source Sans Pro", sans-serif;
	position: fixed;
	bottom: 2em;
	right: 2em;
    }

}

.reveal {
    h3, h4, h5, h6 {
	text-transform: none;
    }

    .fragment {
	opacity: 0.3 !important;
    }

    .current-fragment {
	opacity: 1 !important;
    }

    .hidden {
	display: none !important;
    }

    td, th {
	font-size: 200%;
    }
}
